
.app{
  text-align: center;

}

.search{
 margin-bottom: 30px;
}

.card{
  display: inline-block;
  padding: 3px;
  margin: 3px;
  text-align: center;
  background-color: aquamarine;
  border-radius: 5%;
  transition: 0.5s;
}
.card:hover{
  transform: scale(105%);
}
.img{
  width: 200px;
  width: 200px;
}
